/* CSS RESET  */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  /* This defines what 1rem is */
  font-size: 62.5%; /* 1 rem = 10px; 10px/16px (16px is default browser value, I use 10px for easy calculations) = 62.5%; */
}

body {
  font-weight: 300;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #333;
  height: 100vh;
}

h1 {
  margin-top: 10rem;
}

.container-main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f4f4;
}

.form {
  width: 60%;
  height: 13vh;
  font-size: 2rem;
  background-color: #f39c12;
  box-shadow: 0px 5px 5px #888;
  border-radius: 50px;
  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-input {
  width: 90%;
}

.form-btn {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 2rem;
  border: none;
  background-color: #ecf0f1;
  transition: all 0.5s;
}

.form-btn:hover {
  cursor: pointer;
}
